@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

html,
body {
  @apply scroll-smooth antialiased;
}

@theme {
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --color-primary: #646cff;
  --color-secondary: #61dafb;
  --color-background: #f8f8f8;
  --color-tertiary: #888;
  --breakpoint-xs: 375px;
  --breakpoint-3xl: 120rem;
  --color-main-background: hsla(210, 38%, 95%, 1);
  --color-background: hsl(from var(--color-background) h s calc(l + 10));
  --menu-item-hover-bg: #0969da;

  --footer-mobile-navigate-height: 56px;

  --z-index-menu: 9989;
  --z-index-dropdown: 9990;
  --z-index-mega-menu: 9991;
  --z-index-modal: 9992;
  --z-index-overlay: 9993;
  --z-index-tooltip: 9994;
  --z-index-toast: 9995;
  --z-index-loading: 9996;
  --z-index-loading-overlay: 9997;
  --z-index-loading-spinner: 9998;
  --z-index-loading-text: 9999;
}

@layer base {
  body,
  input,
  textarea,
  select,
  button {
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
  }

  .active-cursor,
  .active-cursor *,
  html body a,
  html body a *,
  html body button,
  html body button *,
  html body input,
  html body input *,
  html body label,
  html body label *,
  html body option,
  html body option *,
  html body select,
  html body select *,
  html body textarea,
  html body textarea * {
    cursor: url("/assets/img/active-cursor-small.png"), auto !important;
  }

  * {
    scroll-margin-top: 1rem;
    cursor: url("/assets/img/normal-cursor-small.png"), auto !important;
  }

  ::-webkit-scrollbar {
    height: 100%;
    width: 0.75rem;
    background-color: initial;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-track {
    background-color: initial;
  }

  ::selection {
    --tw-bg-opacity: 1;
    background-color: rgb(255 234 158 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border: 0.125rem solid transparent;
    background-clip: content-box;
    background-image: linear-gradient(
      180deg,
      hsl(1deg 100% 84%),
      hsl(12deg 100% 82%) 10%,
      hsl(22deg 100% 81%) 20%,
      hsl(31deg 100% 80%) 30%,
      hsl(39deg 100% 80%) 40%,
      hsl(47deg 100% 81%) 50%,
      hsl(77deg 71% 80%) 60%,
      hsl(123deg 73% 85%) 70%,
      hsl(159deg 80% 80%) 80%,
      hsl(177deg 79% 76%) 90%,
      hsl(190deg 100% 80%)
    );
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0.5rem;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
  }
}

@keyframes slowSlideShowText {
  --animate-slowSlideShowText: ease-in-out infinite;
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes grow {
  100% {
    width: 100%;
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-tertiary);
  background-color: var(--color-main-background);
}

.modal {
  background-color: rgb(from var(--color-background) r g b / 0.5);
}
