@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html,
body {
  @apply antialiased;
}

@theme {
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --color-primary: #646cff;
  --color-secondary: #61dafb;
  --color-background: #f8f8f8;
  --color-tertiary: #888;
  --breakpoint-xs: 375px;
  --breakpoint-2xl: 1536px;
  --color-background: hsl(from var(--color-background) h s calc(l + 10));

  --z-index-menu: 9989;
  --z-index-dropdown: 9990;
  --z-index-mega-menu: 9991;
  --z-index-modal: 9992;
  --z-index-overlay: 9993;
  --z-index-tooltip: 9994;
  --z-index-toast: 9995;
  --z-index-loading: 9996;
  --z-index-loading-overlay: 9997;
  --z-index-loading-spinner: 9998;
  --z-index-loading-text: 9999;
}

@layer base {
  body,
  input,
  textarea,
  select,
  button {
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
  }

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
  }
}

@keyframes slowSlideShowText {
  --animate-slowSlideShowText: ease-in-out infinite;
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-tertiary);
}

.modal {
  background-color: rgb(from var(--color-background) r g b / 0.5);
}
