.w-slider-cmp .slick-dots {
  position: absolute;
  bottom: 0;
  width: auto;
  right: 10px;
  top: 0%;
  transform: translateY(50%);
  margin-top: -2%;
}

@media all and (max-width: 767px) {
  .w-slider-cmp .slick-dots {
    top: 50%;
    max-width: fit-content;
    max-width: auto;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
  }
}

@media all and(min-width: 990px) {
  .w-slider-cmp .slick-dots {
    right: 50px;
  }
}

.w-slider-cmp .slick-dots li {
  padding: 2px;
  width: auto;
  height: auto;
  background: none;
  display: block;
  margin-bottom: 10px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.3);
}

.w-slider-cmp .slick-dots li button {
  border: 0 solid transparent;
  opacity: 1;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  width: 4px;
  height: 4px;
}

.w-slider-cmp .slick-dots li.slick-active {
  background-color: white;
}

.slick-dots li button:before {
  display: none;
}
